name: PHP Composer

on:
  workflow_dispatch:
    # Inputs the workflow accepts.
    inputs:
      name:
        # Friendly description to be shown in the UI instead of 'name'
        description: 'Plugin Name'
        # Default value if no value is explicitly provided
        default: ''
        # Input has to be provided for the workflow to run
        required: true

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: run get location
      run: pwd
    - name: run add git
      run: sudo php addgit ${{github.event.inputs.name}}
    - name: give list
      run: ls -r
    - name: Commit report
      run: |
        rm -f .git/index
        git reset
        git config --global user.name 'tziki-webduck'
        git config --global user.email 'tziki@webduck.co.il'
        git commit -am "Automated report"
        git push